/CMakeFiles/
/Makefile
/compile_commands.json
/CMakeCache.txt
/cmake_install.cmake
/study_avro
/nbproject/
/file_output
/test.bin
/build
/crossref.hh
/CPackConfig.cmake
/AvrogencppTests
/primitivetypes.hh
/CodecTests
/union_array_union.hh
/precompile
/reuse.hh
/bigrecord2.hh
/tweet.hh
/tree1.hh
/buffertest
/CTestTestfile.cmake
/avrogencpp
/CPackSourceConfig.cmake
/JsonTests
/unittest
/test.avro
/LargeSchemaTests
/DataFileTests
/bigrecord_r.hh
/union_map_union.hh
/recursive.hh
/CompilerTests
/union_conflict.hh
/libavrocpp.so.1.8.2.0
/bigrecord.hh
/SchemaTests
/empty_record.hh
/test6.df
/StreamTests
/SpecificTests
/circulardep.hh
/tree2.hh
/Testing/
/catch2_test
*.so
*.a
/example_generic
/example_custom
/example_schemaload
/example_datafile
/example_generated
/example_validating
/example_resolving